DATABASE='sqlite'

FIREBIRD_DB_FILE='/path/to/firebird.fdb'
FIREBIRD_DB_HOST=127.0.0.1
FIREBIRD_DB_PORT=3050
FIREBIRD_DB_USERNAME='SYSDBA'
FIREBIRD_DB_PASSWORD='firebase'

MARIADB_DB_HOST='127.0.0.1'
MARIADB_DB_PORT=3306
MARIADB_DB_NAME='sentience'
MARIADB_DB_USERNAME='root'
MARIADB_DB_PASSWORD=''

MYSQL_DB_HOST='127.0.0.1'
MYSQL_DB_PORT=3306
MYSQL_DB_NAME='sentience'
MYSQL_DB_USERNAME='root'
MYSQL_DB_PASSWORD=''

POSTGRES_DB_HOST='127.0.0.1'
POSTGRES_DB_PORT=5432
POSTGRES_DB_NAME='sentience'
POSTGRES_DB_USERNAME='postgres'
POSTGRES_DB_PASSWORD=''

SQLITE_DB_FILE="./database/database.sqlite"
