DATABASE='sqlite'

FIREBIRD_DB_HOST=localhost
FIREBIRD_DB_PORT=3050
FIREBIRD_DB_FILE='/path/to/notitioner-mcp.fdb'
FIREBIRD_DB_USERNAME='SYSDBA'
FIREBIRD_DB_PASSWORD='firebase'

MARIADB_DB_HOST='localhost'
MARIADB_DB_PORT=3306
MARIADB_DB_NAME='notitioner-mcp'
MARIADB_DB_USERNAME='root'
MARIADB_DB_PASSWORD=''

MYSQL_DB_HOST='localhost'
MYSQL_DB_PORT=3306
MYSQL_DB_NAME='notitioner-mcp'
MYSQL_DB_USERNAME='root'
MYSQL_DB_PASSWORD=''

POSTGRES_DB_HOST='localhost'
POSTGRES_DB_PORT=5432
POSTGRES_DB_NAME='notitioner-mcp'
POSTGRES_DB_USERNAME='postgres'
POSTGRES_DB_PASSWORD=''

SQLITE_DB_FILE="./database/notitioner-mcp.sqlite"

SQLSERVER_DB_HOST='localhost'
SQLSERVER_DB_PORT='1433'
SQLSERVER_DB_NAME='notitioner-mcp'
SQLSERVER_DB_USERNAME='sa'
SQLSERVER_DB_PASSWORD=''
